node_modules
.env
database/configx
Login_Scripts
src/server/storage.txt
database/testData
oauth2instructions.txt
.DS_Store
configs/aws
configs/dotenv
configs/grunt
src/client/TestData
build/dist/client
