#report {
  margin: 2.5% auto;
  width: 95%;
  .page-no-uls,
  .entry-uls {
    list-style-type: none;
    margin-bottom: 1%;
  }

  .entry-uls {
    -webkit-box-shadow: 0 0 10px coral;
    box-shadow: 0 0 10px coral;

    li {
      .inner-entry {
        border: 1px solid coral;
        background-color: paleturquoise;
        //questionable
        &:hover {
          background-color: darkturquoise;
          p {
            color: ivory;
          }
        }
        .general-entry {
          padding: 10px;
          .entry-title {
            text-decoration: underline;
            color: orangered;
            padding-left: 12.5px;
            &:hover {
              color: blue;
            }
          }
          #no-entries-found {
            padding-bottom: 0px;
          }
          #champ {
            padding-left: 15px;
            padding-top: 0px;
            padding-bottom: 10px;
          }
        }
        .special-entry {
          color: ivory;
          .entry-title {
            color: ivory;
            padding-left: 5px;
          }
        }
      }
      #entry1 {
        background-color: goldenrod;
      }

      #entry2 {
        background-color: silver;
      }

      #entry3 {
        background-color: #cd7f32;
      }
    }
  }

  .page-no-uls {
    display: flex;
    justify-content: center;
    .page-nos {
      display: inline-block;
      border: 1px solid coral;
      padding: 5px 10px 5px 10px;
      background-color: paleturquoise;
      margin-top: 5px;
      &:hover {
        cursor: pointer;
        background-color: coral;
        border-left: 2px solid ivory;
        border-right: 2px solid ivory;
      }
    }
  }
}


.detailed-entry {
  background-color: coral;
  border: 2px solid orangered;
  display: flex;
  flex-direction: column;
  text-rendering: geometricPrecision;
  .top-activity-description {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-bottom: 1%;
    .editing-activity-textarea {
      width: 75%;
      height: 3.5vmax;
      align-self: center;
    }
  }
  .editing-container {
    align-self: flex-end;
    padding: 0.5% 1.25%;
    .editing-submit-link {
      margin-right: 1%;
    }
    .editing-link {
      color: blue;
      cursor: pointer;
      margin-right: 10%;
      &:hover {
        color: ivory;
      }
    }
  }
}