html {
  text-rendering: geometricPrecision;
  font-family: "Raleway";
}
ul,
p,
h4 {
  padding: 0;
  margin: 0;
}

h4,
p {
  /* margin-bottom: 5px; */
  padding: 4px 0 4px 0;
}

h4 {
  margin-bottom: 6px;
}

#activity-photo {
  height: 150px;
}

body {
  background-color: darkslategray;
  #upper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 2.5% auto;
    padding-top: 25px;
    border: 1px solid coral;
    -webkit-box-shadow: 0 0 10px coral;
    box-shadow: 0 0 10px coral;
    background-color: darkturquoise;
    #user-profile {
      text-rendering: geometricPrecision;
      display: flex;
      margin: 2.5% 0;
      width: 95%;
      background-color: #52fff3;
      border: 1px solid orangered;
      border-top: none;
      border-left: none;
      box-shadow: 2.5px 2.5px 5px 0px orangered;

      #user-img {
        flex: 0.4;
      }

      #user-info {
        display: flex;
        flex-direction: column;
        flex: 0.6;
        color: orangered;
        border-left: none;
      }

      .ytd-totals {
        flex: 1;
        background-color: #52fff3;
        border-left: none;
        padding-left: 5px;
        border-left: 1px solid coral;
      }

      .profile-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    #buttons-and-bar {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      #button-layout {
        display: flex;
        justify-content: center;
        width: 95%;
        margin: 2.5% auto 0 auto;
        border: 1px solid orangered;
        border-top: none;
        border-left: none;
        background-color: #52fff3;
        box-shadow: 2.5px 2.5px 5px 0px orangered;
        .choose-radio-container {
          display: flex;
          flex-direction: column;
          flex: 1;
          align-items: center;
          &:first-child {
            border-right: 1px solid coral;
          }
          &:last-child {
            border-left: 1px solid coral;
          }
          .multiple-radio-button-container {
            display: flex;
            flex-direction: column;
            flex: 1;
            .single-radio-button-container {
              flex: 1;
            }
          }
        }
      }
    }
  }


}

/* .inner-entry:hover {
  background-color: darkturquoise;
} */

/* .inner-entry:hover > p {
  color: ivory;
} */

.general-entry > p,
.detailed-entry > p {
  padding-left: 1.5%;
}

#choose-sport,
#choose-distance,
#choose-format {
  /* text-decoration: underline; */
  margin-bottom: 0.5%;
  padding-bottom: 0;
}

.choose-title {
  color: orangered;
}

.ytd-totals-title {
  text-decoration: underline;
  color: orangered;
}

.ytd-totals-title,
#user-location,
.ytd-descriptor,
#user-name,
.entry-descriptor {
  cursor: default;
}

.speed {
  display: inline;
  padding: none;
}

#custom-distance {
  margin-top: 1.5%;
  margin-left: 5%;
}

#fun-stats {
  display: grid;
  margin-left: 2.5%;
  grid-template-columns: 14% 20.5% 17.5% 2% auto;
  grid-template-rows: auto;
}

#top-activity-gear {
  margin-left: 1.5%;
}

#golden-heart-rate,
#kudos-x,
#trophy-case {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 25px 25px;
  grid-template-areas:
    "photo ahr"
    "photo mhr";
}

#heart-rate-img,
#kudos-img,
#trophy-img {
  height: 50px;
  width: 50px;
  grid-area: photo;
}

#max-heart-rate,
#comment-count,
#empty-count {
  grid-area: mhr;
}

#avg-heart-rate,
#kudos-count,
#achievement-count {
  grid-area: ahr;
}

.top-activity-description > h4,
.top-activity-description > p,
.kudos,
.heart-rate,
.achievements,
#top-activity-gear {
  color: ivory;
}

.heart-rate,
.kudos,
.achievements {
  margin: 0;
}
.heart-rate,
.heart-rate > p,
.kudos,
.kudos > p,
.achievements,
.achievements > p {
  display: inline-block;
}

#rate-limit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .rate-limit-message {
    &:first-child{
      text-decoration: underline;
    }
    display: flex;
    justify-content: center;
    color: orangered;
    width: 100%;
    padding: .5% 0;
  }

}
